
.App-wrapper {
    max-width: 1000px;
    min-height: 2000px;
    margin: 0 auto;
    /*background-color: #e9e9e9;*/
    /*border: 1px solid white;*/
    padding: 20px 0 0 0;


    display: grid;

    grid-template-areas: "head head"
                         "nav cont";

    grid-template-rows: 70px;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}


.Content-wrapper {
    grid-area: cont;
}